NEXT_PUBLIC_SITE_URL=https://casa-car.com
NEXT_PUBLIC_APP_URL=https://TU-DOMINIO.vercel.app
SITE_URL=https://casa-car.com
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
MERCADOPAGO_ACCESS_TOKEN=

ADMIN_API_KEY=poneme-una-clave-larga-unica
